* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(186, 186, 186);
}

body {
    background-color: whitesmoke;
}

html {
    scroll-behavior: smooth;
}

nav {
    background-color: violet;
    position: fixed;
    height: 100%;
    width: 10%;
    margin-left: 90%;
}

nav ul {
    margin-top: 20%;
    text-align: center;
    list-style: none;
}

nav ul li {
    display: block;
    padding: 13px 10px;
}

nav ul li:hover {
    background-color: rgb(201, 111, 201);
}

nav ul li a {
    padding: 15px;
    text-decoration: none;
    color: white;
}

#container {
    margin: 0px 20%;
    background-color: white;
    padding: 10% 25px;
    box-shadow: 0px 10px 19px -15px rgba(0, 0, 0, 0.75);
}

h1 {
    font-weight: 400;
    border-bottom: solid 1px rgb(186, 186, 186);
}

h2 {
    font-weight: 400;
}

.ejercicio {
    margin: 20% 0px;
}

.ejercicio h2 {
    text-align: center;
    margin-bottom: 5px;
}